{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime Weeb</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
    .navbar .navbar-brand{
        color: red;
        font-weight: bolder;
    }
    .navbar .navbar-nav{
        margin: 0 auto;
        padding: 10px;
        font-size: 20px;
    }
    .borderstyle{
        margin-top: 5%;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #000;
        text-align: center;
    }
    </style>
</head>
<body>
    <nav class=" navagation">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="/">AnimeWeeb</a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lib">library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
                <input class="form-control mr-sm-2" type="search" name="s" placeholder="Search" aria-label="Search" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </nav>
    {% block content %}
  
    {% endblock  %}
</body>
</html>