{% extends 'login/base.html' %}
{% block content %}
<div class="first">
<div class="card" style="width: 23rem; margin:20px;">
    <img src="http://unisci24.com/data_images/wlls/35/293310-naruto.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
<div class="card" style="width: 23rem; margin:20px;">
    <img src="http://unisci24.com/data_images/wlls/35/293310-naruto.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card" style="width: 23rem; margin:20px;">
    <img src="http://unisci24.com/data_images/wlls/35/293310-naruto.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
</div>
{% endblock %}
